<a href="https://colab.research.google.com/github/VictorFu0717/AI/blob/main/sentiment_gap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 4s 0us/step

In [ ]:
import glob
import os
dn = os.path.dirname(dataset)
fn = glob.glob(dn + "/aclImdb/train/pos/*")
with open(fn[0], "r", encoding="utf-8") as f:
    print("pos:", f.read())
fn = glob.glob(dn + "/aclImdb/train/neg/*")
with open(fn[0], "r", encoding="utf-8") as f:
    print("neg:", f.read())

pos: Kudos to Cesar Montano for reviving the Cebuano movie! Panaghoy sa Suba is very good -- it has the drama, the action, the romance, and scene that will make you laugh.<br /><br />While the story is not that original (a love triangle -- or make a four-cornered-love, Japanese occupation, rebellion, American as lord), its presentation is something cool, especially it uses it original language -- bisaya for the Filipino, nipongo for the Japanese and English for the American.<br /><br />This movie will go as one of this year's best Pinoy movies.<br /><br />Go watch this!
neg: Highly implausible, unbelievable, and incoherent Spanish production about...well, let me see just how close I can get to it. The film opens with a woman having one of her cat's killed by a young girl. She then begs her lover to take her somewhere on his vacation. He calls work and demands that he loses his vacation time and she says he will pay for this. What relevance this plays out to is anybody's guess at the film's end, because the guy, a swarthy photographer, spies a beautiful Patty Shepard, queen of Spanish horror films it seems, taking her bikini top off momentarily so he can snap a picture, ask her out to lunch, and then to his assignment to Witches Mountain - for reasons again we are never privy to. Before they go, Patty must stop by the house and loud, "eerie" chanting echoes in our hero's ears. Again, this is never explained. The film goes on with these two stopping at an inn, going on to the mountain, and finally realizing why the mountain is called Witches Mountain. You know, there are several aspects to this film which make it better than a bad film. It has some atmosphere, some of the character actors are really quite good(especially the deaf innkeeper and the old woman), the leads are at least adequate, and the climax - though it makes absolutely no sense at all - is well-choreographed(literally) with the witches in white brassieres and long black hair. It just doesn't make any sense though, and that is a huge detractor to me. I could watch the film another ten times and still not know more now than I did after the first viewing. That is a major problem. The Witches Mountain is a curious film from the long line of cheap, atmospheric European horror films that blanketed that decade. If you can get more out of it than me, better power to you.

In [ ]:
import pandas as pd
def getdata(base):
    datas = {"article":[], "ans":[]}
    targets = os.path.join(base, "pos", "*")
    for fn in glob.glob(targets):
        with open(fn, "r", encoding="utf-8") as f:
            datas["article"].append(f.read())
            datas["ans"].append(1)
    targets = os.path.join(base, "neg", "*")
    for fn in glob.glob(targets):
        with open(fn, "r", encoding="utf-8") as f:
            datas["article"].append(f.read())
            datas["ans"].append(0)
    return pd.DataFrame(datas)
train = os.path.join(dn, "aclImdb", "train")
train_df = getdata(train)
test = os.path.join(dn, "aclImdb", "test")
test_df = getdata(test)

In [ ]:
test_df

                                                 article  ans
0      Excellent Hitchcock thriller with Robert Cummi...    1
1      Having read the book prior to watching this ad...    1
2      NO SPOILERS!!<br /><br />After Hitchcock's suc...    1
3      Another Raquel Welch Classic! This Picture hit...    1
4      Contains Spoilers<br /><br />This is a Peter W...    1
...                                                  ...  ...
24995  Angels and Demons: 3 out of 10: Clearly someth...    0
24996  This odd little film starts out with the story...    0
24997  I challenge you to watch this film and deny th...    0
24998  A confusing, senseless script with plot holes ...    0
24999  Well, how to make a movie as provocative as po...    0

[25000 rows x 2 columns]

In [ ]:
#num_words=3000最常出現的3000個單字才做處理，其他的忽略
#token將詞轉成數字 Tokenize: I -> 1 love -> 2 you -> 3
#texts to sequences將整句文字轉成數字列

from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["article"])
x_train_seq = tok.texts_to_sequences(train_df["article"])
x_test_seq = tok.texts_to_sequences(test_df["article"])

In [ ]:
# tok.word_index, 0不會用到, 0 for padding
tok.index_word[34]
# 有東西消失是因為超過三千最常出現單字
tok.sequences_to_texts(x_train_seq)[0]

'to for the movie is very good it has the drama the action the romance and scene that will make you laugh br br while the story is not that original a love or make a four love japanese american as lord its presentation is something cool especially it uses it original language for the for the japanese and english for the american br br this movie will go as one of this best movies br br go watch this'

In [ ]:
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         5    15     1    17     6    52  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11    17    13   138     3     9  ...   NaN   NaN   NaN   NaN   NaN   NaN
2      2990    15   175   144   448    88  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         6     5  2537  1656    15    51  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        11    17   163     3  2576    41  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     8     1   703     4     3  2852  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    47    68     3   173     4   368  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997   634    27  1199     1   279    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998   329    20     2   190   851    22  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    45   332     1   240     4    17  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [ ]:
# 個人覺得512 1024差不多
MAXLEN = 512

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=MAXLEN)
x_test_pad = pad_sequences(x_test_seq, maxlen=MAXLEN)

In [ ]:
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...  506  507   508   509   510   511
0        0    0    0    0    0    0  ...   99    7     7   137   103    11
1        0    0    0    0    0    0  ...   46  482    18     6    79     3
2        0    0    0    0    0    0  ...  506    9   254    55     7     7
3        0    0    0    0    0    0  ...   30    1  2016     3   400   155
4        0    0    0    0    0    0  ...   11   13     3    63    84   120
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...
24995    0    0    0    0    0    0  ...    7    7   741  1916   268   365
24996    0    0    0    0    0    0  ...    2   10   431    89   383     9
24997    0    0    0    0    0    0  ...  226  119  1348     5     1   153
24998    0    0    0    0    0    0  ...    3  651   274    48     3  2141
24999    0    0    0    0    0    0  ...   18   82    71    12  1315    75

[25000 rows x 512 columns]

In [ ]:
#Embedding詞嵌入((3000詞＋1padding),128種情緒）
#mask_zero：True, 0不列入運算，視為padding
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D
layers = [
    Embedding(3001, 128, mask_zero=True, input_length=MAXLEN),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 不需要自己做one-hot
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer="adam",
       metrics=["accuracy"])

In [ ]:
import numpy as np
y_train = np.array(train_df["ans"])
y_test = np.array(test_df["ans"])

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
   EarlyStopping(patience=5, restore_best_weights=True),
   ModelCheckpoint("sentiment.h5", save_best_only=True)
]
model.fit(x_train_pad,
     y_train,
     batch_size=200,
     epochs=50,
     validation_split=0.1,
     verbose=2,
     callbacks=callbacks)

Epoch 1/50
113/113 - 7s - loss: 0.6348 - accuracy: 0.6428 - val_loss: 0.6364 - val_accuracy: 0.6424
Epoch 2/50
113/113 - 3s - loss: 0.4672 - accuracy: 0.8268 - val_loss: 0.4854 - val_accuracy: 0.7760
Epoch 3/50
113/113 - 3s - loss: 0.3616 - accuracy: 0.8671 - val_loss: 0.4033 - val_accuracy: 0.8168
Epoch 4/50
113/113 - 3s - loss: 0.3114 - accuracy: 0.8837 - val_loss: 0.3806 - val_accuracy: 0.8240
Epoch 5/50
113/113 - 3s - loss: 0.2825 - accuracy: 0.8923 - val_loss: 0.3741 - val_accuracy: 0.8316
Epoch 6/50
113/113 - 3s - loss: 0.2632 - accuracy: 0.8996 - val_loss: 0.3642 - val_accuracy: 0.8376
Epoch 7/50
113/113 - 3s - loss: 0.2493 - accuracy: 0.9048 - val_loss: 0.3163 - val_accuracy: 0.8660
Epoch 8/50
113/113 - 3s - loss: 0.2383 - accuracy: 0.9092 - val_loss: 0.3363 - val_accuracy: 0.8564
Epoch 9/50
113/113 - 3s - loss: 0.2301 - accuracy: 0.9114 - val_loss: 0.3205 - val_accuracy: 0.8668
Epoch 10/50
113/113 - 3s - loss: 0.2234 - accuracy: 0.9148 - val_loss: 0.3177 - val_accuracy: 0.8700
Epoch 11/50
113/113 - 3s - loss: 0.2176 - accuracy: 0.9167 - val_loss: 0.3461 - val_accuracy: 0.8572
Epoch 12/50
113/113 - 3s - loss: 0.2130 - accuracy: 0.9177 - val_loss: 0.3115 - val_accuracy: 0.8748
Epoch 13/50
113/113 - 3s - loss: 0.2084 - accuracy: 0.9197 - val_loss: 0.3296 - val_accuracy: 0.8676
Epoch 14/50
113/113 - 3s - loss: 0.2055 - accuracy: 0.9209 - val_loss: 0.3125 - val_accuracy: 0.8788
Epoch 15/50
113/113 - 3s - loss: 0.2021 - accuracy: 0.9226 - val_loss: 0.3552 - val_accuracy: 0.8580
Epoch 16/50
113/113 - 3s - loss: 0.1993 - accuracy: 0.9237 - val_loss: 0.3440 - val_accuracy: 0.8644
Epoch 17/50
113/113 - 3s - loss: 0.1971 - accuracy: 0.9253 - val_loss: 0.3545 - val_accuracy: 0.8612

In [ ]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 3ms/step - loss: 0.2954 - accuracy: 0.8792

[0.2954466640949249, 0.8791599869728088]

In [ ]:
#將128種情緒提取出來

In [ ]:
layers = [
    Embedding(3001, 128, mask_zero=True),
    GlobalAveragePooling1D()
]
temp = Sequential(layers)
temp.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 128)         384128
_________________________________________________________________
global_average_pooling1d_1 ( (None, 128)               0
=================================================================
Total params: 384,128
Trainable params: 384,128
Non-trainable params: 0
_________________________________________________________________

In [ ]:

w = model.layers[0].get_weights()
temp.layers[0].set_weights(w)

In [ ]:
# 用夾角來看相似度,0度：像, 180度：不像, 取cos來表示（1:像,0:不相干,-1不像）

In [ ]:
from numpy import dot
from numpy.linalg import norm

w1 = tok.word_index["father"]
pre = temp.predict([[w1]])
e1 = pre[0]
w2 = tok.word_index["dad"]
pre = temp.predict([[w2]])
e2 = pre[0]
print(w1, w2)
cos_sim = dot(e1, e2)/(norm(e1)*norm(e2))
print("相似度", cos_sim)

333 1243
相似度 -0.51157343

In [ ]:
s1 = "this movie is interesting"
w1 = [tok.word_index[w] for w in s1.split(" ")]
pre = temp.predict([w1])
e1 = pre[0]
s2 = "this movie is boring"
w2 = [tok.word_index[w] for w in s2.split(" ")]
pre = temp.predict([w2])
e2 = pre[0]
print(w1, w2)
cos_sim = dot(e1, e2)/(norm(e1)*norm(e2))
print("相似度", cos_sim)

[11, 17, 6, 218] [11, 17, 6, 355]
相似度 0.9844145