<a href="https://colab.research.google.com/github/VictorFu0717/AI/blob/main/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 2s 0us/step

In [ ]:
import glob
import os
dn = os.path.dirname(dataset)
fn = glob.glob(dn + "/aclImdb/train/pos/*")
with open(fn[0], "r", encoding="utf-8") as f:
    print("pos:", f.read())
fn = glob.glob(dn + "/aclImdb/train/neg/*")
with open(fn[0], "r", encoding="utf-8") as f:
    print("neg:", f.read())

pos: Tenshu is imprisoned and sentenced to death. When he survives electrocution the government officials give him a choice to either be electrocute at a greater degree or agree to some experiments. He chooses the experimentation and is placed in a large metallic cell with a bad ass criminal who also survived the electrocution. They can have whatever the want in the room (within reason), but they can't leave. after a few days there meals are cut down to one per day and the room temp is set up too 100. After some more alarms are sounded at intervals so they can't sleep. One day a 'witch' come into their cell (albeit a glassed off portion) What happens next I'll let you find out. I may be in the minority here but I liked the build up, it was intriguing to me. Now if the payoff was half as good as the build up was I would have rated this so much higher.<br /><br />My Grade: C+ <br /><br />Media Blaster's 2 DVD set Extras: Disc 1) Director's Cut; Trailers for "Versus", "Aragami", "Attack the Gas Station", and "Deadly Outlaw Rekka" Disc 2) Theatrical Cut; Commentary with Hideo Sakaki, Ryuhei Kitamura, Sakaguchi Takuand Tsutomu Takahashi; Cast and crew interview; Making of; Original Trailer; and Promo Teasers
neg: Stephen Feinberg, who Played the Proctologist and was one of the writers of the movie, passed away in early 2006. I met Steve in Portland in 1993, it was a year latter when he told me that he had been a writer in Hollywood years earlier, working mostly on TV promos. He asked me not to see 'Tunnel Vision', but it was too late, I had seen it already! Actually I had seen it years before, when it was released. At that time I didn't think it was that bad a movie. However seeing it as an adult my opinion was somewhat different. Yes is is a bit puerile as well as dated. Steve admitted it was not a very good movie. That said he was just a little proud of 'The Proctologist' sketch.

In [ ]:
import pandas as pd
def getdata(base):
    datas = {"article":[], "ans":[]}
    targets = os.path.join(base, "pos", "*")
    for fn in glob.glob(targets):
        with open(fn, "r", encoding="utf-8") as f:
            datas["article"].append(f.read())
            datas["ans"].append(1)
    targets = os.path.join(base, "neg", "*")
    for fn in glob.glob(targets):
        with open(fn, "r", encoding="utf-8") as f:
            datas["article"].append(f.read())
            datas["ans"].append(0)
    return pd.DataFrame(datas)
train = os.path.join(dn, "aclImdb", "train")
train_df = getdata(train)
test = os.path.join(dn, "aclImdb", "test")
test_df = getdata(test)

In [ ]:
test_df

                                                 article  ans
0      Great British director Christopher Nolan (Mome...    1
1      i hate vampire movies. with that said, this on...    1
2      Seldom is seen a film sequel that surpasses or...    1
3      I made a promise that if ever I posted a comme...    1
4      I never saw any of John Leguizamo's stand-up b...    1
...                                                  ...  ...
24995  I have loved the book "A Little Princess" for ...    0
24996  PERHAPS SPOILER !! well, i ve seen it at the f...    0
24997  Two things -- too long and totally lacked cred...    0
24998  Great ensemble cast but unfortunately a bunch ...    0
24999  My friend and I rented this movie for 3.99 at ...    0

[25000 rows x 2 columns]

In [ ]:
#num_words=3000最常出現的3000個單字才做處理，其他的忽略
#token將詞轉成數字 Tokenize: I -> 1 love -> 2 you -> 3
#texts to sequences將整句文字轉成數字列

from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["article"])
x_train_seq = tok.texts_to_sequences(train_df["article"])
x_test_seq = tok.texts_to_sequences(test_df["article"])

In [ ]:
# tok.word_index, 0不會用到, 0 for padding
tok.index_word[19]
# 有東西消失是因為超過三千最常出現單字
# sequences to texts將數字列轉成整句文字
tok.sequences_to_texts(x_train_seq)[0]

"is and to death when he the government give him a choice to either be at a greater degree or agree to some he the and is placed in a large cell with a bad ass criminal who also the they can have whatever the want in the room within reason but they can't leave after a few days there are cut down to one day and the room is set up too 100 after some more are sounded at so they can't sleep one day a come into their cell a off what happens next i'll let you find out i may be in the here but i liked the build up it was intriguing to me now if the was half as good as the build up was i would have rated this so much higher br br my grade c br br media 2 dvd set extras 1 director's cut for attack the gas station and deadly 2 theatrical cut commentary with cast and crew interview making of original trailer and"

In [ ]:
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         6     2     5   338    51    26  ...   NaN   NaN   NaN   NaN   NaN   NaN
1       191   587   215   392    16    39  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        10   116     1    99     2   202  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         1    83    55    10   216    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        10    89   388   135     1   852  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    10  1922    12    11    19    45  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996   277   191   203   320    34  1578  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997     1   678     8     1   422    45  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998   721   704    11   321    20   371  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999  1147   343    41     3   760     4  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [ ]:
#每篇文章長度不一樣，截長補短讓長度一樣 (訓練的時候無法處理長短不同的文章)
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=1024)
x_test_pad = pad_sequences(x_test_seq, maxlen=1024)

In [ ]:
pd.DataFrame(x_train_pad)

       0     1     2     3     4     5     ...  1018  1019  1020  1021  1022  1023
0         0     0     0     0     0     0  ...  2696   228     4   201  1467     2
1         0     0     0     0     0     0  ...    65    88  1132  2196    39   289
2         0     0     0     0     0     0  ...   249    18  1395    47     6   207
3         0     0     0     0     0     0  ...   401     9    15    32    29    17
4         0     0     0     0     0     0  ...    22   235    27  1260    22   119
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     0     0     0     0     0     0  ...     8     1   347   155   246   195
24996     0     0     0     0     0     0  ...   895    11     6    40     3  1386
24997     0     0     0     0     0     0  ...    13   733  1063   748  2080     8
24998     0     0     0     0     0     0  ...   325   230   681    34  2464    16
24999     0     0     0     0     0     0  ...    10    97   137  2363    71   297

[25000 rows x 1024 columns]

In [ ]:
#Embedding詞嵌入((3000詞＋1padding),128種情緒）
#mask_zero：True, 0不列入運算，視為padding
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout
from tensorflow.keras.layers import Embedding
layers = [
    Embedding(3001, 128, mask_zero=True, input_length=1024),
    Flatten(),
    Dense(256, activation="relu"),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 1024, 128)         384128
_________________________________________________________________
flatten (Flatten)            (None, 131072)            0
_________________________________________________________________
dense (Dense)                (None, 256)               33554688
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 514
=================================================================
Total params: 33,939,330
Trainable params: 33,939,330
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 不需要自己做one-hot
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer="adam",
       metrics=["accuracy"])

In [ ]:
import numpy as np
y_train = np.array(train_df["ans"])
y_test = np.array(test_df["ans"])

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
   EarlyStopping(patience=5, restore_best_weights=True),
   ModelCheckpoint("sentiment.h5", save_best_only=True)
]
model.fit(x_train_pad,
     y_train,
     batch_size=200,
     epochs=50,
     validation_split=0.1,
     verbose=2,
     callbacks=callbacks)

Epoch 1/50
113/113 - 10s - loss: 0.7934 - accuracy: 0.6935 - val_loss: 0.2730 - val_accuracy: 0.8880
Epoch 2/50
113/113 - 7s - loss: 0.2156 - accuracy: 0.9186 - val_loss: 0.3496 - val_accuracy: 0.8404
Epoch 3/50
113/113 - 7s - loss: 0.0886 - accuracy: 0.9786 - val_loss: 0.4390 - val_accuracy: 0.8196
Epoch 4/50
113/113 - 7s - loss: 0.0270 - accuracy: 0.9976 - val_loss: 0.4990 - val_accuracy: 0.8216
Epoch 5/50
113/113 - 7s - loss: 0.0089 - accuracy: 0.9997 - val_loss: 0.5263 - val_accuracy: 0.8332
Epoch 6/50
113/113 - 7s - loss: 0.0035 - accuracy: 0.9998 - val_loss: 0.3839 - val_accuracy: 0.8848

In [ ]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 4s 5ms/step - loss: 0.3201 - accuracy: 0.8629

[0.3201254606246948, 0.8628799915313721]